<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/auth/api/register}" method="post">

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <button type="submit">Register</button>
</form>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
</body>
</html>